[flake8]

# E402 module level import not at top of file
# E501 line too long (83 > 79 characters)
# F821 undefined name '_'

exclude = .git

max-line-length = 87

per-file-ignores =
    ./m.neural_network.preparedata/m.neural_network.preparedata.py: E501,F821
    ./m.neural_network.preparedata.worker_nullcells/m.neural_network.preparedata.worker_nullcells.py: F821,E501
    ./m.neural_network.preparedata.worker_export/m.neural_network.preparedata.worker_export.py: E501
    ./m.neural_network.preparetraining/m.neural_network.preparetraining.py: E501,F821
    ./m.neural_network.preparetraining.worker/m.neural_network.preparetraining.worker.py: E501,F821